<!DOCTYPE HTML>
<head>
	<script type="text/javascript">
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(showPosition);
		}
		
		function showPosition(position) {
            document.getElementById("lon").setAttribute("value", position.coords.longitude);
            document.getElementById("lat").setAttribute("value", position.coords.latitude);
            document.forms["locInfo"].submit();
		}
	</script>

</head>
	<form action="locInfo" id="locInfo" method="POST">
		<input type="hidden" id="lon" name="lon" />
		<input type="hidden" id="lat" name="lat"/>
	</form>

</body>