<!DOCTYPE html>
<html>
  <head>
   <script type="text/javascript">
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(showPosition);
		}
		
		function showPosition(position) {
			var pos = {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			};
            document.getElementById("lon").setAttribute("value", position.coords.longitude);
            document.getElementById("lat").setAttribute("value", position.coords.latitude);
            loc.submit();
		}
	</script>

	<form id='loc' action="loc" method="POST">
	    <input type="hidden" id="lon" name="lon" />
		<input type="hidden" id="lat" name="lat"/>
	</form>
  </head>
</html>